/* 폰트 */
@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE")
      format("svg");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 1920px;
  background-image: url(https://schim613.github.io/portfolio/pf/work1/resource/background-img.jpg);
}

/* 라이브러리 */
.img-box > img {
  display: block;
  width: 100%;
}

.section-item {
  position: absolute;
  top: 0;
}

.icon-up,
.icon-down {
  top: auto;
  bottom: 55px;
  right: 150px;
  left: auto;
  z-index: 100;
}

/* 커스텀 */
/* 탑바 */
.top-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 150px;
  padding-top: 20px;
}

.menu-1 > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 190px;
  height: 100px;
  font-size: 20px;
  font-family: "COCOGOOSE";
}

.menu-1 > li > a > svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-1 > li > a > svg path {
  stroke-dasharray: 949.1766967773438;
  stroke-dashoffset: 949.1766967773438;
}

.menu-1:not(:hover) > li.active > a > svg path,
.menu-1 > li:hover > a > svg path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s;
}

/* 홈 */
.main-text {
  font-family: 'COCOGOOSE';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  color: #A37CC9;
  text-shadow: 2px 2px 4px #000;
}

/* 자기소개 */
.am-img-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 포트폴리오 */
.pf-img-1 {
  top: auto;
  bottom: 55px;
  left: 55px;
}

/* 연락 */
.ct-img-1 {
  top: 257px;
  left: 300px;
}

.ct-img-2 {
  top: 228px;
  left: 1000px;
}

.ct-img-3 {
  top: 355px;
  left: 1560px;
}

.ct-img-4 {
  top: 655px;
  left: 955px;
}

.ct-form-1 {
  top: 330px;
  left: 1100px;
}

.ct-form-2 {
  top: 405px;
  left: 1100px;
}

.ct-form-3 {
  top: 721px;
  left: 1080px;
}

input,
textarea {
  border: none;
  background-color: inherit;
  font-family: 'NotoKrL';
  font-size: 20px;
  font-weight: lighter;
}

input {
  width: 460px;
}

input:focus {
  outline: none;
}

textarea {
  width: 460px;
  height: 290px;
  overflow: hidden;
  resize: none;
}

textarea:focus {
  outline: none;
}

button {
  width: 500px;
  height: 105px;
  border: 0;
  outline: 0;
  background-color: inherit;
  font-family: 'COCOGOOSE';
  font-size: 25px;
  color: #535050;
}