/* 폰트 */
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 커서 */
body {
  cursor: url(img/cursor.png), auto !important;
}

.cursor-pointer {
  cursor: url(img/cursor_2.png), auto !important;
}

/* 노말라이즈 */
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.img-box>img {
  display: block;
  width: 100%;
}

.section-item {
  position: absolute;
}

.icon-up,
.icon-down {
  bottom: 55px;
  right: 150px;
  left: auto;
  z-index: 100;
}

/* 커스텀 */
body {
  min-width: 1920px;
  background-image: url(img/background.jpg);
  overflow:hidden;
  font-family: 'GmarketSansMedium';
}

/* 로딩화면 */
.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s;
}

.loading-box.hide {
  opacity: 0;
  visibility: hidden;
}

/* 탑바 */
.top-bar {
  position: fixed;
  z-index: 100;
  width: 1920px;
  top: 0;
  left: 0;
  padding: 0 150px;
  padding-top: 20px;
}

.menu-1>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 190px;
  height: 100px;
  font-size: 20px;
  font-family: 'GmarketSansBold';
  color: #333;
}

.menu-1>li>a>svg {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-1>li>a>svg path {
  stroke-dasharray: 949.1766967773438;
  stroke-dashoffset: 949.1766967773438;
}

.menu-1:not(:hover)>li.active>a>svg path,
.menu-1>li:hover>a>svg path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s;
}

/* 홈 */
.home {
  position: absolute;
  top: 85%;
}

.hm-img-1 {
  pointer-events: none;
}

/* 자기소개 */

.am-img-1 {
  pointer-events: none;
}

/* 포트폴리오 */
.pf-img-1 {
  top: 21.4444%;
  left: 4.1666%;
  z-index: -1;
  pointer-events: none;
}

.pf-img-2 {
  top: 35.3333%;
  left: 7.291%;
  z-index: -1;
  pointer-events: none;
}

.pf-img-3 {
  top: 64.037%;
  left: 5%;
  z-index: -1;
  pointer-events: none;
}

.pf-img-4 {
  top: 30%;
  left: 78%;
  pointer-events: none;
}

.portfolio {
  width: 1180px;
  height: 750px;
  margin-left: 370px;
  margin-top: 80px;
}

.portfolio>div {
  width: 380px;
  height: 770px;
}

.portfolio>div:not(:last-child) {
  margin-right: 20px;
}

.portfolio>div>.pf-content:not(:last-child) {
  margin-bottom: 20px;
}

.pf-1,
.pf-4,
.pf-5 {
  width: 380px;
  height: 450px;
  background-image: url("img/3-1-1.png");
}

.pf-2,
.pf-3,
.pf-6 {
  width: 380px;
  height: 290px;
  background-image: url("img/3-1-2.png");
}

.pf-content>div {
  padding: 20px;
}

.pf-img > img {
  width: 340px;
}

.pf-img>span {
  display: block;
  width: 340px;
  height: 30px;
}

.pf-img>img {
  margin-top: 10px;
}

/* 연락 */
.ct-img-1 {
  top: 290px;
  left: 350px;
  pointer-events: none;
}

.ct-img-2 {
  top: 183px;
  left: 970px;
  pointer-events: none;
}

.ct-img-3 {
  top: 310px;
  left: 1530px;
  pointer-events: none;
}

.ct-img-4 {
  top: 620px;
  left: 925px;
  pointer-events: none;
}

.ct-img-5 {
  bottom: 55px;
  left: 55px;
  pointer-events: none;
}

.sticker.ct-img-6 {
  width: 80px;
  height: 80px;
  top: 540px;
  left: 1650px;
}

.ct-img-6 .sticker-img {
  background-image: url(img/4-6.png);
  background-size: contain;
  pointer-events: none;
}

.ct-img-6 .sticker-shadow {
  opacity: 0.6;
}

.sticker.ct-img-7 {
  width: 80px;
  height: 80px;
  top: 250px;
  left: 570px;
}

.ct-img-7 .sticker-img {
  background-image: url(img/4-7.png);
  background-size: contain;
  pointer-events: none;
}

.ct-form-1 {
  top: 285px;
  left: 1070px;
}

.ct-form-2 {
  top: 360px;
  left: 1070px;
}

.ct-form-3 {
  top: 680px;
  left: 1050px;
}

input,
textarea {
  border: none;
  background-color: inherit;
  font-family: 'NotoKrL';
  font-size: 20px;
  font-weight: lighter;
}

input {
  width: 460px;
}

input:focus {
  outline: none;
}

textarea {
  width: 460px;
  height: 290px;
  overflow: hidden;
  resize: none;
}

textarea:focus {
  outline: none;
}

button {
  width: 500px;
  height: 105px;
  border: 0;
  outline: 0;
  background-color: inherit;
  font-family: 'GmarketSansBold';
  font-size: 24px;
  color: #535050;
}